body{
    background-color:#4056f4;
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;

}
section{
    background-color:#95d9da;
    border-radius: 10px;
    color: black;
    padding: 15px;
    width: 600px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.464);

}
div{

}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}